<article><DIV id="readability-page-1">
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="http://fakehost/366/logo_bana/corner_1.gif" width="7" height="7"/>
                                    </td>
                                    <td/>
                                    <td>
                                        <img src="http://fakehost/366/logo_bana/corner_2.gif" width="7" height="7"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                         
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <p>
                            <a href="http://fakehost/index.html" target="_blank">福娘童話集</a> &gt; <a href="http://fakehost/test/index.html" target="_blank">きょうのイソップ童話</a> &gt; <a href="http://fakehost/test/itiran/01gatu.htm" target="_blank">１月のイソップ童話</a> &gt; 欲張りなイヌ
                        </p>
                        <DIV>
                            <p><span color="#FF0000" size="+2">元旦のイソップ童話</span></p><p>
                            <img src="http://fakehost/gazou/pc_gazou/aesop/aesop052.jpg" alt="&#x3088;&#x304F;&#x3070;&#x308A;&#x306A;&#x30A4;&#x30CC;" width="480" height="360"/></p><p>
                            欲張りなイヌ</p><p>
                            <a href="http://hukumusume.com/douwa/English/aesop/01/01_j.html" target="_blank">ひらがな</a>　←→　<a href="http://hukumusume.com/douwa/English/aesop/01/01_j&amp;E.html" target="_blank">日本語・英語</a>　←→　<a href="http://hukumusume.com/douwa/English/aesop/01/01_E.html" target="_blank">English</a></p></DIV>
                        <DIV>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="http://fakehost/366/logo_bana/corner_1.gif" width="7" height="7"/>
                                                    </td>
                                                    <td>
                                                        <span color="#FF0000"><b>おりがみをつくろう</b></span>
                                                    </td>
                                                    <td>
                                                        <span size="-1">( <a href="http://www.origami-club.com/index.html" target="_blank">おりがみくらぶ</a> より)</span>
                                                    </td>
                                                    <td>
                                                        <img src="http://fakehost/366/logo_bana/corner_2.gif" width="7" height="7"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="http://www.origami-club.com/easy/dogfase/index.html" target="_blank"><span size="+2"><img src="http://fakehost/gazou/origami_gazou/kantan/dogface.gif" alt="&#x72AC;&#x306E;&#x9854;&#x306E;&#x6298;&#x308A;&#x7D19;" width="73" height="51"/>いぬのかお</span></a>　　　<a href="http://www.origami-club.com/easy/dog/index.html" target="_blank"><img src="http://fakehost/gazou/origami_gazou/kantan/dog.gif" alt="&#x72AC;&#x306E;&#x9854;&#x306E;&#x7D19;" width="62" height="43"/><span size="+2">いぬ</span></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </DIV>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        ♪音声配信(html5)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <audio src="http://ohanashi2.up.seesaa.net/mp3/ae_0101.mp3" controls=""/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.voiceblog.jp/onokuboaki/" target="_blank"><span size="-1">亜姫の朗読☆　イソップ童話より</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            　肉をくわえたイヌが、橋を渡っていました。 　ふと下を見ると、川の中にも肉をくわえたイヌがいます。　イヌはそれを見て、思いました。（あいつの肉の方が、大きそうだ） 　イヌは、くやしくてたまりません。 （そうだ、あいつをおどかして、あの肉を取ってやろう） 　そこでイヌは、川の中のイヌに向かって思いっきり吠えました。 「ウゥー、ワン！！」 　そのとたん、くわえていた肉はポチャンと川の中に落ちてしまいました。 「ああー、ぁぁー」 　川の中には、がっかりしたイヌの顔がうつっています。 　さっきの川の中のイヌは、水にうつった自分の顔だったのです。 　同じ物を持っていても、人が持っている物の方が良く見え、また、欲張るとけっきょく損をするというお話しです。
                        </p>
                        <p>
                            おしまい
                        </p>
                        <p>
                            <span><img src="http://fakehost/gazou/pc_gazou/all/top_bana/back_logo_r.gif" alt="&#x524D;&#x306E;&#x30DA;&#x30FC;&#x30B8;&#x3078;&#x623B;&#x308B;" name="Image10" width="175" height="32" id="Image10"/></span></p>
                    </td>
                    <td>
                        <img src="file:///C:/Documents%20and%20Settings/%E7%A6%8F%E5%A8%98note/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/company_website15/image/spacer.gif" width="1" height="1"/>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="http://fakehost/366/logo_bana/corner_1.gif" width="7" height="7"/>
                                    </td>
                                    <td/>
                                    <td>
                                        <img src="http://fakehost/366/logo_bana/corner_2.gif" width="7" height="7"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                             <span size="-1"><b>1月 1日の豆知識</b></span><p>
                                        <span size="-2"><u><p>
                                        366日への旅</p></u></span></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="file:///C:/Documents%20and%20Settings/%E7%A6%8F%E5%A8%98note/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97" width="1" height="1"/><b><span size="-1">きょうの記念日</span></b><p>
                                        <a href="http://fakehost/366/kinenbi/pc/01gatu/1_01.htm" target="_blank"><span size="-1">元旦</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="file:///C:/Documents%20and%20Settings/%E7%A6%8F%E5%A8%98note/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/company_website15/image/spacer.gif" width="1" height="1"/><b><span size="-1">きょうの誕生花</span></b><p>
                                        <a href="http://fakehost/366/hana/pc/01gatu/1_01.htm" target="_blank"><span size="-1">松(まつ)</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうの誕生日・出来事</span></b><p>
                                        <a href="http://fakehost/366/birthday/pc/01gatu/1_01.htm" target="_blank"><span size="-1">1949年　Mr.マリック(マジシャン)</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">恋の誕生日占い</span></b><p>
                                        <a href="http://fakehost/sakura/uranai/birthday/01/01.html" target="_blank"><span size="-1">自分の考えをしっかりと持った女の子。</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">なぞなぞ小学校</span></b><p>
                                        <a href="http://fakehost/nazonazo/new/2012/04/02.html" target="_blank"><span size="-1">○(丸)を取ったらお母さんになってしまう男の人は？</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">あこがれの職業紹介</span></b><p>
                                        <a href="http://fakehost/sakura/navi/work/2017/041.html" target="_blank"><span size="-1">歌手</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">恋の魔法とおまじない</span></b> 001<p>
                                        <a href="http://fakehost/omajinai/new/2012/00/re01.html" target="_blank"><span size="-1">両思いになれる おまじない</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1">　　<b>1月 1日の童話・昔話</b><u><span size="-2"><p>
                                        福娘童話集</p></span></u></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうの日本昔話</span></b><p>
                                        <a href="http://fakehost/douwa/pc/jap/01/01.htm" target="_blank"><span size="-1">ネコがネズミを追いかける訳</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうの世界昔話<img src="file:///C:/Documents%20and%20Settings/%E7%A6%8F%E5%A8%98note/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/company_website15/image/spacer.gif" width="1" height="1"/></span></b><p>
                                        <a href="http://fakehost/douwa/pc/world/01/01a.htm" target="_blank"><span size="-1">モンゴルの十二支話</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="file:///C:/Documents%20and%20Settings/%E7%A6%8F%E5%A8%98note/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/company_website15/image/spacer.gif" width="1" height="1"/><b><span size="-1">きょうの日本民話</span></b><p>
                                        <a href="http://fakehost/douwa/pc/minwa/01/01c.html" target="_blank"><span size="-1">仕事の取替えっこ</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうのイソップ童話</span></b><p>
                                        <a href="http://fakehost/douwa/pc/aesop/01/01.htm" target="_blank"><span size="-1">欲張りなイヌ</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうの江戸小話</span></b><p>
                                        <a href="http://fakehost/douwa/pc/kobanashi/01/01.htm" target="_blank"><span size="-1">ぞうきんとお年玉</span></a></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><span size="-1">きょうの百物語</span></b><p>
                                        <a href="http://fakehost/douwa/pc/kaidan/01/01.htm" target="_blank"><span size="-1">百物語の幽霊</span></a></p></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span size="-1">福娘のサイト</span></b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1"><b>366日への旅</b><p>
                                        <a href="http://hukumusume.com/366/" target="_blank">毎日の記念日・誕生花 ・有名人の誕生日と性格判断</a></p></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1"><b>福娘童話集</b><p>
                                        <a href="http://hukumusume.com/douwa/" target="_blank">世界と日本の童話と昔話</a></p></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1"><b>女の子応援サイト -さくら-</b><p>
                                        <a href="http://hukumusume.com/sakura/index.html" target="_blank">誕生日占い、お仕事紹介、おまじない、など</a></p></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1"><b>子どもの病気相談所</b><p>
                                        <a href="http://hukumusume.com/my_baby/sick/" target="_blank">病気検索と対応方法、症状から検索するWEB問診</a></p></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span size="-1"><b>世界60秒巡り</b><p>
                                        <a href="http://hukumusume.com/366/world/" target="_blank">国旗国歌や世界遺産など、世界の国々の豆知識</a></p></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </DIV></article>