<article><div id="readability-page-1">
                    <div>
                        <h2>DeepMind新电脑已可利用记忆自学 人工智能迈上新台阶</h2>
                        <div bosszone="titleDown">
                                <p><span><span bosszone="jgname">TNW中文站</span></span><span>2016年10月14日07:17</span></p>
                                
                                
                            </div>
                    </div>
                    <div id="Cnt-Main-Article-QQ" bosszone="content">
                            <div>
                                <p><span>转播到腾讯微博</span></p><p><img alt="DeepMind&#x65B0;&#x7535;&#x8111;&#x5DF2;&#x53EF;&#x5229;&#x7528;&#x8BB0;&#x5FC6;&#x81EA;&#x5B66; &#x4EBA;&#x5DE5;&#x667A;&#x80FD;&#x8FC8;&#x4E0A;&#x65B0;&#x53F0;&#x9636;" src="http://img1.gtimg.com/tech/pics/hv1/168/240/2140/139214868.jpg"/></p></div>
                            <p>TNW中文站 10月14日报道</p>
                            <p>
                                <span onmouseover="ShowInfo(this,&quot;GOOG.OQ&quot;,&quot;200&quot;,&quot;-1&quot;,event);"><a href="http://stockhtm.finance.qq.com/astock/ggcx/GOOG.OQ.htm" target="_blank">谷歌</a></span>(<a href="http://t.qq.com/googlechina#pref=qqcom.keyword" rel="googlechina" reltitle="&#x8C37;&#x6B4C;" target="_blank">微博</a>)
                                在2014年收购的人工智能公司DeepMind开发出一款能够用自己的记忆学习新知识并利用这些知识来回答问题的计算机。</p>
                            <p>这款产品具有极其重要的意义，因为这意味着未来的人工智能技术可能不需要人类来教它就能回答人类提出的问题。</p>
                            <p>DeepMind表示，这款名为DNC（可微神经计算机）的AI模型可以接受家谱和伦敦地铁网络地图这样的信息，还可以回答与那些数据结构中的不同项目之间的关系有关的复杂问题。</p>
                            <p>例如，它可以回答“从邦德街开始，沿着中央线坐一站，环线坐四站，然后转朱比利线坐两站，你会到达哪个站？”这样的问题。</p>
                            <p>DeepMind称，DNC还可以帮你规划从沼泽门到皮卡迪利广场的最佳路线。</p>
                            <p>同样，它还可以理解和回答某个大家族中的成员之间的关系这样的复杂问题，比如“张三的大舅是谁？”。</p>
                            <p>DNC建立在神经网络的概念之上，神经网络可以模拟人类思想活动的方式。这种AI技术很适合与机器习得配套使用。</p>
                            <p>DeepMind的AlphaGo AI能够打败围棋冠军也跟这些神经网络有很大关系。但是AlphaGo必须进行训练才行，开发人员向AlphaGo提供了历史对弈中的大约3000万记录。让人工智能技术具备通过记忆学习的能力，就可以让它独自完成更复杂的任务。</p>
                            <p>DeepMind希望DNC可以推动计算行业实现更多突破。DeepMind已将其研究结果发表在<a href="http://tech.qq.com/science.htm" target="_blank">科学</a>刊物《自然》（Nature）上。（编译/林靖东）</p>
                            <p><strong><strong>精彩视频推荐</strong></strong>
                            </p>
                            
                            <div id="rv-player">
                                                <p><span>转播到腾讯微博</span></p><p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJAQMAAAAB5D5xAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAADUExURQAAAKd6PdoAAAABdFJOUwBA5thmAAAAC0lEQVQI12NgwAkAABsAAVJE5KkAAAAASUVORK5CYIIvKiAgfHhHdjAwfDUwZDc5YmEzMGM3MDcxY2I5OTIyMTk4MzYyZGRlZmNlICov"/></p></div>
                            
                            

                            





                            

                            
                            <p><strong>【美国The Next Web作品的中文相关权益归腾讯公司独家所有。未经授权，不得转载、摘编等。】</strong></p>
                            
                        </div>
                    <div>
                        <p>[责任编辑：alonliu]</p>
                        <div id="vote">
                                <p>您认为这篇文章与"<span id="test">新一网（08008.HK）</span>"相关度高吗？</p>
                                <p><a id="high" count="2">高</a><a id="normal" count="1">一般</a><a id="Irrelevant" count="0">不相关</a>
                                    </p>
                                
                            </div>
                        
                        
                        
                        
                    </div>
                </div></article>