<article><div id="readability-page-1">
                                <p id="oFNvY2">
                                    In the introduction to her review anthology <em>For Keeps: 30 Years at the Movies</em>, the legendary film critic Pauline Kael wrote, “I’m frequently asked why I don’t write my memoirs. I think I have.” She meant what most movie critics realize at some point: that reading your past reviews and revisiting the lists of films you liked most during the year reveals not just something about a particular year in cinema, but something about you as well.
                                </p>
                                <p id="49aoQQ">
                                    That’s the feeling I get constructing my list of the best films of 2017, a year that overflowed with great films in every genre, from horror and romantic comedy to documentary and arthouse drama. Some of the films on my list have commonalities — ghosts, meditations on memory and interpersonal connection, and women who refuse to behave — but mostly they underscore just how vibrant cinema remains as an art form, even in the midst of massive cultural shifts in the industry and beyond. And it is a keen reminder to me of all the 2017 conversations I’ve had around and at the movies — and the ways I will never be the same.
                                </p>
                                <p id="dC0oTJ">
                                    Here are my top 21 films of 2017 and how to watch them at home, with 14 honorable mentions.
                                </p>
                                <h3 id="jDDW9T">
                                    21) <a href="https://www.vox.com/culture/2017/12/12/16765308/last-jedi-star-wars-review-rey-carrie-fisher-poe-finn-kylo-ren" target="_blank"><em>Star Wars: The Last Jedi</em></a>
                                </h3>
                                
                                <p id="WdtoaT">
                                    I am as shocked as anyone that a <em>Star Wars</em> movie found its way onto my list — but I was bowled over by <em>The Last Jedi</em>, which may be one of the series’ best. In the hands of writer-director <a href="https://www.vox.com/culture/2017/12/13/16761916/rian-johnson-star-wars-last-jedi-looper-brick-brothers-bloom-fly-breaking-bad" target="_blank">Rian Johnson</a> (who will also oversee <a href="https://www.theverge.com/2017/11/9/16630902/star-wars-new-trilogy-rian-johnson-disney-lucasfilm" target="_blank">a new <em>Star Wars</em> trilogy</a>), <em>The Last Jedi</em> is beautiful to look at and keeps its eye on the relationships between characters and how they communicate with one another, in addition to the bigger galactic story. The same characters are back, but they seem infused with new life, and the galaxy with a new kind of hope. The movie’s best details are in the strong bonds that develop between characters, and I left the film with the realization that for the first time in my life, I loved a <em>Star Wars</em> movie. Now I understand the magic.
                                </p>
                                <p id="m6vJQd">
                                    Star Wars: The Last Jedi <em>is currently</em> <a href="https://www.netflix.com/watch/80192018?source=35" target="_blank"><em>streaming on Netflix</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=fgPqJgZepxM" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=fgPqJgZepxM" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="3XHosO">
                                    20) <a href="https://www.vox.com/2017/10/6/16434046/faces-places-review-agnes-varda-jr" target="_blank"><em>Faces Places</em></a>
                                </h3>
                                
                                <p id="zP5jCd">
                                    The unusual documentary <a href="https://www.vox.com/2017/10/6/16434046/faces-places-review-agnes-varda-jr" target="_blank"><em>Faces Places</em></a> (in French, <em>Visages Villages</em>) turns on the friendship between the accomplished street artist JR and legendary film director Agnès Varda, whose work was central to the development of the French New Wave movement. The pair (whose difference in age is 55 years) met after years of admiring each other’s work and decided to create a documentary portrait of France — by making a number of actual portraits. The film chronicles a leg of the "Inside Outside Project," a roving art initiative in which JR makes enormous portraits of people he meets and pastes them onto buildings and walls. In the film, Varda joins him, and as they talk to people around the country, they grow in their understanding of themselves and of each other. The development of their friendship, which is both affectionate and mutually sharpening, forms <em>Faces Places</em>’ emotional center.
                                </p>
                                <p id="yIfUci">
                                    Faces Places <em>is currently</em> <a href="https://www.netflix.com/watch/80194288?source=35" target="_blank"><em>streaming on Netflix</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=WuB9Fl8nrzM" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=WuB9Fl8nrzM" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                
                                <h3 id="R0KXNO">
                                    19) <a href="https://www.vox.com/summer-movies/2017/8/8/16107088/ingrid-goes-west-review-aubrey-plaza-elizabeth-olsen" target="_blank"><em>Ingrid Goes West</em></a>
                                </h3>
                                
                                <p id="d2ZAUw">
                                    <a href="https://www.vox.com/summer-movies/2017/8/8/16107088/ingrid-goes-west-review-aubrey-plaza-elizabeth-olsen" target="_blank"><em>Ingrid Goes West</em></a> is a twisted and <a href="https://www.vox.com/culture/2017/8/9/16107140/matt-spicer-interview-ingrid-goes-west-dark-comedy-aubrey-plaza-sundance?utm_campaign=vox&amp;utm_content=chorus&amp;utm_medium=social&amp;utm_source=twitter" target="_blank">dark comedy</a> — part addiction narrative, part stalker story — and yet it’s set in a world that’s almost pathologically cheery: the glossy, sunny, nourishing, superfood- and superlative-loving universe of Instagram celebrity. But despite <em>Ingrid Goes West</em>’s spot-on take on that world, the best thing about the film is that it refuses to traffic in lazy buzzwords and easy skewering, particularly at the expense of young women. Instead, the movie conveys that behind every Instagram image and meltdown is a real person, with real insecurities, real feelings, and real problems. And it recognizes that living a life performed in public can be its own kind of self-deluding prison.
                                </p>
                                <p id="oGMXK4">
                                    Ingrid Goes West <em>is currently</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.hulu.com%2Fwatch%2F1205749" rel="nofollow noopener" target="_blank"><em>streaming on Hulu</em></a> <em>and available to digitally rent on</em> <a href="https://www.youtube.com/watch?v=c2O7KouP5CM" target="_blank"><em>YouTube</em></a> <em>and</em> <a href="https://play.google.com/store/movies/details?id=c2O7KouP5CM" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="qfZ4Iv">
                                    18) <a href="https://www.vox.com/summer-movies/2017/7/14/15955888/review-lady-macbeth-florence-pugh" target="_blank"><em>Lady Macbeth</em></a>
                                </h3>
                                
                                <p id="Ii1QS5">
                                    <a href="https://www.vox.com/summer-movies/2017/7/14/15955888/review-lady-macbeth-florence-pugh" target="_blank"><em>Lady Macbeth</em></a> is no placid costume drama. Adapted from an 1865 Russian novella by Nikolai Leskov, the movie follows Katherine (the astounding Florence Pugh), a woman in the Lady Macbeth line characterized by a potent cocktail of very few scruples and a lot of determination. She's a chilling avatar for the ways that class and privilege — both obvious and hidden — insulate some people from the consequences of their actions while damning others. <em>Lady Macbeth</em> is also a dazzling directorial debut from William Oldroyd, a thrilling combination of sex, murder, intrigue, and power plays. It’s visually stunning, each frame composed so carefully and deliberately that the wildness and danger roiling just below the surface feels even more frightening. Each scene ratchets up the tension to an explosive, chilling end.
                                </p>
                                <p id="e2nBAO">
                                    Lady Macbeth <em>is currently streaming on</em> <a href="https://play.hbogo.com/feature/urn:hbo:feature:GWrEd3wdB_LiWwwEAAAIk?camp=Search&amp;play=true" target="_blank"><em>HBO Go</em></a> <em>and</em> <a href="https://play.hbonow.com/feature/urn:hbo:feature:GWrEd3wdB_LiWwwEAAAIk?camp=Search&amp;play=true" target="_blank"><em>HBO Now</em></a><em>, and it is available to digitally rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB074HJGH3F%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon Prime</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F891310" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>,</em> <a href="https://www.youtube.com/watch?v=l8vAACgcUCo" target="_blank"><em>YouTube</em></a><em>,</em> <a href="https://play.google.com/store/movies/details?id=l8vAACgcUCo" target="_blank"><em>iTunes</em></a><em>, and</em> <a href="https://play.google.com/store/movies/details?id=l8vAACgcUCo" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="JhEBod">
                                    17) <em>BPM (Beats Per Minute)</em>
                                </h3>
                                
                                <p id="DEyp0A">
                                    <em>BPM (Beats Per Minute)</em> is a remarkably tender and stirring story of the Paris chapter of ACT UP, an AIDS activism group, and the young people who found themselves caught in the crosshairs of the AIDS crisis in the early 1990s. The film follows both the group's actions and the individual members’ shifting relationships to one another — enemies becoming friends, friends becoming lovers, lovers becoming caretakers — as well as their struggles with the disease wracking their community. As an account of the period, it’s riveting; as an exploration of life and love set at the urgent intersection of the political and the personal, it’s devastating.
                                </p>
                                <p id="8vBdkS">
                                    BPM (Beats Per Minute) <em>is currently</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.hulu.com%2Fwatch%2F1258801" rel="nofollow noopener" target="_blank"><em>streaming on Hulu</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=xrjoEWj6gLg" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=xrjoEWj6gLg" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="jocryI">
                                    16) <a href="https://www.vox.com/summer-movies/2017/6/21/15837678/big-sick-review-kumail-nanjiani-emily-gordon-zoe-kazan-islam" target="_blank"><em>The Big Sick</em></a>
                                </h3>
                                
                                <p id="DqZc5Q">
                                    Few 2017 movies could top the charm and tenderness of <a href="https://www.vox.com/summer-movies/2017/6/21/15837678/big-sick-review-kumail-nanjiani-emily-gordon-zoe-kazan-islam" target="_blank"><em>The Big Sick</em></a>, which hits all the right romantic comedy notes with one unusual distinction: It feels like real life. That’s probably because <em>The Big Sick</em> is written by <a href="https://www.vox.com/2017/11/22/16687092/the-big-sick-kumail-nanjiani-emily-gordon-real-story" target="_blank">real-life married couple</a> Emily V. Gordon and <em>Silicon Valley</em>'s Kumail Nanjiani, and based on their real-life romance. <em>The Big Sick</em> — which stars Nanjiani as a version of himself, alongside Zoe Kazan as Emily — is funny and sweet while not backing away from matters that romantic comedies don’t usually touch on, like serious illness, struggles in long-term marriages, and religion. As it tells the couple’s story, which takes a serious turn when Emily falls ill with a mysterious infection and her parents (played by Holly Hunter and Ray Romano) come to town, it becomes a funny and wise story about real love.
                                </p>
                                <p id="Wgpjgu">
                                    The Big Sick <em>is currently</em> <em>streaming on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FBig-Sick-Kumail-Nanjiani%2Fdp%2FB07193L7RD%2Fref%3Dsr_1_1%3Fie%3DUTF8%26qid%3D1532454848" rel="nofollow noopener" target="_blank"><em>Amazon Prime</em></a> <em>and available to digitally rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fmovie%2Fthe-big-sick%2Fid1246483301" rel="nofollow noopener" target="_blank"><em>iTunes</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F865258" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB071HFCYDH%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://www.youtube.com/watch?v=WUX0wW2OMkA" target="_blank"><em>YouTube</em></a><em>, and</em> <a href="https://play.google.com/store/movies/details?id=WUX0wW2OMkA" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="dFyVjw">
                                    15) <a href="https://www.vox.com/culture/2017/9/10/16277234/mother-review-aronofsky-lawrence-bardem-tiff" target="_blank"><em>Mother!</em></a>
                                </h3>
                                
                                <p id="LA1s4n">
                                    There’s so much pulsing beneath <a href="https://www.vox.com/culture/2017/9/10/16277234/mother-review-aronofsky-lawrence-bardem-tiff" target="_blank">the surface of <em>Mother!</em></a> that it’s hard to grab on to just one theme as what it “means.” It’s full-on apocalyptic fiction, and like all stories of apocalypse, it’s intended to draw back the veil on reality and show us what’s really beneath. And this movie gets wild: If its gleeful cracking apart of traditional theologies doesn’t get you (there’s a lot of Catholic folk imagery here, complete with an Ash Wednesday-like mud smearing on the foreheads of the faithful), its bonkers scenes of chaos probably will. <em>Mother!</em> is a movie designed to provoke fury, ecstasy, madness, catharsis, and more than a little awe. Watching it, and then participating in the flurry of arguments and discussions unpacking it, was among my best moviegoing experiences of 2017.
                                </p>
                                <p id="mxI0Kb">
                                    Mother! <em>is available to digitally purchase on</em> <a href="https://play.google.com/store/movies/details?id=F9p9HlSbIuU" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=F9p9HlSbIuU" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="PL5PTS">
                                    14) <a href="https://www.vox.com/culture/2017/7/7/15925272/ghost-story-review-rooney-mara-casey-affleck" target="_blank"><em>A Ghost Story</em></a>
                                </h3>
                                
                                <p id="JWA6Pb">
                                    Director <a href="https://www.vox.com/summer-movies/2017/7/13/15960236/david-lowery-ghost-story-interview" target="_blank">David Lowery</a> filmed <a href="https://www.vox.com/culture/2017/7/7/15925272/ghost-story-review-rooney-mara-casey-affleck" target="_blank"><em>A Ghost Story</em></a> in secret, then premiered it at the Sundance Film Festival to critical acclaim. The movie starts out being about a grieving widow (Rooney Mara) trying to live through the pain of losing her beloved husband, but it soon shifts focus to the ghost of her husband (Casey Affleck, covered in a sheet), evolving into a compelling rumination on the nature of time, memory, history, and the universe. Bathed in warm humor and wistful longing, it's a film that stays with you long after it’s over, a lingering reminder of the inextricable link between love and place.
                                </p>
                                <p id="9CatN2">
                                    A Ghost Story <em>is available to digitally rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fmovie%2Fa-ghost-story%2Fid1252853654%3Fat%3D1001l6hu%26ct%3Dgca_organic_movie-title_1252853654" rel="nofollow noopener" target="_blank"><em>iTunes</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F875682" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB075K4YG8P%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://play.google.com/store/movies/details?id=cGUoTWQIcP0" target="_blank"><em>Google Play</em></a><em>, and</em> <a href="https://www.youtube.com/watch?v=cGUoTWQIcP0" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="rRIM9r">
                                    13) <a href="https://www.vox.com/2017/10/24/16523642/square-review-ruben-ostlund-claes-bang-elisabeth-moss" target="_blank"><em>The Square</em></a>
                                </h3>
                                
                                <p id="NavzzU">
                                    Winner of the Palme d’Or at the 2017 Cannes Film Festival, <a href="https://www.vox.com/2017/10/24/16523642/square-review-ruben-ostlund-claes-bang-elisabeth-moss" target="_blank"><em>The Square</em></a> is a hilariously needling comedy about the contemporary art world, as well as the kind of idealistic liberalism that is tough to maintain in the face of real problems. The outstanding Claes Bang stars as Christian, a curator whose cluelessness leads him into some outlandishly rough spots, with Elisabeth Moss in a too-short but brilliant part as an American journalist who won’t let him get away with his shenanigans. It’s a heady film with a lot of ideas ricocheting around — and a <em>lot</em> of uncomfortable satire — but if you (like me) are the sort of viewer who loves that stuff, its sly jabs at the veneer of civilization that keeps the social contract intact are intoxicating.
                                </p>
                                <p id="2iTOd5">
                                    The Square <em>is currently</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.hulu.com%2Fwatch%2F1228556" rel="nofollow noopener" target="_blank"><em>streaming on Hulu</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=OaD-B0aK9aw" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=OaD-B0aK9aw" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="Px2hT6">
                                    12) <a href="https://www.vox.com/culture/2017/7/17/15984026/dunkirk-review-nolan-rylance-hardy-styles-spoilers" target="_blank"><em>Dunkirk</em></a>
                                </h3>
                                
                                <p id="MLatLf">
                                    <a href="https://www.vox.com/culture/2017/7/17/15984026/dunkirk-review-nolan-rylance-hardy-styles-spoilers" target="_blank"><em>Dunkirk</em></a>, a true cinematic achievement from acclaimed director Christopher Nolan, backs off conventional notions of narrative and chronology as much as possible, while leaning headfirst into everything else that makes a movie a visceral work of art aimed at the senses: the images, the sounds, the scale, the swelling vibrations of it all. You can’t smell the sea spray, but your brain may trick you into thinking you can. Nolan’s camera pushes the edges of the screen as far as it can as <em>Dunkirk</em> engulfs the audience in something that feels like a lot more than a war movie. It’s a symphony for the brave and broken, and it resolves in a major key — but one with an undercurrent of sorrow, and of sober warning. Courage in the face of danger is not just for characters in movies.
                                </p>
                                <p id="cmMBuS">
                                    Dunkirk <em>is currently streaming on</em> <a href="https://play.hbogo.com/feature/urn:hbo:feature:GWqvX7wxdtyl0YAEAAAFv?camp=Search&amp;play=true" target="_blank"><em>HBO Go</em></a> <em>and</em> <a href="https://play.hbonow.com/feature/urn:hbo:feature:GWqvX7wxdtyl0YAEAAAFv?camp=Search&amp;play=true" target="_blank"><em>HBO Now</em></a><em>, and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=yOJhvgczBNk" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=yOJhvgczBNk" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="CPlXz5">
                                    11) <em>Rat Film</em>
                                </h3>
                                
                                <p id="GFFO6D">
                                    <em>Rat Film</em> is about rats, yes — and rat poison experts and rat hunters and people who keep rats as pets. But it’s also about the history of eugenics, dubious science, <a href="https://en.wikipedia.org/wiki/Redlining" target="_blank">“redlining,”</a> and segregated housing in Baltimore. All these pieces come together to form one big essay, where the meaning of each vignette only becomes clearer in light of the whole. It’s a fast-paced, no-holds-barred exploration of a damning history, and it accrues meaning as the images, sounds, and text pile up.
                                </p>
                                <p id="HkeUxt">
                                    Rat Film <em>is available to digitally rent on</em> <a href="https://www.youtube.com/watch?v=ZZlweN7XXJ4" target="_blank"><em>YouTube</em></a> <em>and</em> <a href="https://play.google.com/store/movies/details?id=ZZlweN7XXJ4" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="Qgio0l">
                                    10) <a href="https://www.vox.com/culture/2017/4/13/15243556/quiet-passion-review-emily-dickinson-passover-easter" target="_blank"><em>A Quiet Passion</em></a>
                                </h3>
                                
                                <p id="EO0XbC">
                                    <a href="https://www.vox.com/culture/2017/4/13/15243556/quiet-passion-review-emily-dickinson-passover-easter" target="_blank"><em>A Quiet Passion</em></a> is technically a biographical film about Emily Dickinson, but it transcends its genre to become something more like poetry. It’s a perplexing and challenging film, crafted without the traditional guardrails that guide most biographical movies — dates, times, major accomplishments, and so on. Time slips away in the film almost imperceptibly, and the narrative arc doesn’t yield easily to the viewer. Cynthia Nixon plays Emily Dickinson, whose poetry and life is a perfect match for the signature style of director Terence Davies: rich in detail, deeply enigmatic, and weighed down with a kind of sparkling, joy-tinged sorrow. <em>A Quiet Passion</em> is a portrait, both visual and narrative, of the kind of saint most modern people can understand: one who is certain of her uncertainty, and yearning to walk the path on which her passion and longing meet.
                                </p>
                                <p id="YuHQ0h">
                                    A Quiet Passion <em>is currently streaming on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB072FP21C5%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon Prime</em></a> <em>and available to digitally rent or purchase on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fmovie%2Fa-quiet-passion%2Fid1238938795" rel="nofollow noopener" target="_blank"><em>iTunes</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F859491" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB072FP21C5%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://www.youtube.com/watch?v=de0ELdfPGik" target="_blank"><em>YouTube</em></a><em>, and</em> <a href="https://play.google.com/store/movies/details?id=de0ELdfPGik" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="7dz2o3">
                                    9) <em>Columbus</em>
                                </h3>
                                
                                <p id="pM0BdD">
                                    <em>Columbus</em> is a stunner of a debut from video essayist turned director Kogonada. Haley Lu Richardson stars as Casey, a young woman living in Columbus, Indiana, who cares for her mother, works at a library, and harbors a passion for architecture. (Columbus is a mecca for modernist architecture scholars and enthusiasts.) When a visiting architecture scholar falls into a coma in Columbus, his estranged son Jin (John Cho) arrives to wait for him and strikes up a friendship with Casey, who starts to show him her favorite buildings. The two begin to unlock something in each other that’s hard to define but life-changing for both. <em>Columbus</em> is beautiful and subtle, letting us feel how the places we build and the people we let near us move and mold us.
                                </p>
                                <p id="P7j9oY">
                                    Columbus <em>is currently</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.hulu.com%2Fwatch%2F1185842" rel="nofollow noopener" target="_blank"><em>streaming on Hulu</em></a> <em>and available to rent on</em> <a href="https://play.google.com/store/movies/details?id=I-j0IqPQaYU" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=I-j0IqPQaYU" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="wkyPUl">
                                    8) <a href="https://www.vox.com/culture/2017/5/31/15706424/florida-project-review-cannes-sean-baker" target="_blank"><em>The Florida Project</em></a>
                                </h3>
                                
                                <p id="J6kOkz">
                                    Sean Baker’s <a href="https://www.vox.com/culture/2017/5/31/15706424/florida-project-review-cannes-sean-baker" target="_blank"><em>The Florida Project</em></a> unfolds at first like a series of sketches about the characters who live in a purple-painted, $35-a-night motel called the Magic Castle down the street from Disney World. The film is held together by the hysterical antics of a kid named Moonee and her pack of young friends, as well as long-suffering hotel manager Bobby (a splendid, warm Willem Dafoe), who tries to put up with it all while keeping some kind of order. But as <em>The Florida Project</em> goes on, a narrative starts to form, one that chronicles with heartbreaking attention the sort of dilemmas that face poor parents and their children in America, and the broken systems that try to cope with impossible situations.
                                </p>
                                <p id="xG8Q8C">
                                    The Florida Project <em>is currently streaming on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FFlorida-Project-Willem-Dafoe%2Fdp%2FB0764MS7GQ%2Fref%3Dsr_1_2%3Fs%3Dinstant-video%26ie%3DUTF8%26qid%3D1532455499%26sr%3D1-2%26keywords%3Dthe%2Bflorida%2Bproject" rel="nofollow noopener" target="_blank"><em>Amazon Prime</em></a> <em>and available to digitally rent on</em> <a href="https://www.youtube.com/watch?v=MLsXQdPAlws" target="_blank"><em>YouTube</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2Fdetails%2Ftitle%2F922802" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>, and</em> <a href="https://play.google.com/store/movies/details?id=MLsXQdPAlws" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="rLGNAf">
                                    7) <a href="https://www.vox.com/2017/11/21/16552862/call-me-by-your-name-review-timothee-chalamet-armie-hammer" target="_blank"><em>Call Me</em> <em>b</em><em>y Your Name</em></a>
                                </h3>
                                
                                <p id="KyeOGQ">
                                    Luca Guadagnino’s gorgeous film <a href="https://www.vox.com/2017/11/21/16552862/call-me-by-your-name-review-timothee-chalamet-armie-hammer" target="_blank"><em>Call Me</em> <em>b</em><em>y Your Name</em></a> adapts André Aciman’s <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FCall-Me-Your-Name-Novel%2Fdp%2F031242678X" rel="nofollow noopener" target="_blank">2007 novel</a> about a precocious 17-year-old named Elio (Timothée Chalamet), who falls in lust and love with his father’s 24-year-old graduate student Oliver (Armie Hammer). It’s remarkable for how it turns literature into pure cinema, all emotion and image and heady sensation. Set in 1983 in Northern Italy, <em>Call Me</em> <em>b</em><em>y Your Name</em> is less about coming out than coming of age, but it also captures a particular sort of love that’s equal parts passion and torment, a kind of irrational heart fire that opens a gate into something longer-lasting. The film is a lush, heady experience for the body, but it’s also an arousal for the soul.
                                </p>
                                <p id="VA1se2">
                                    <em>Call Me By Your Name</em> is available to digitally purchase on <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FCall-Your-Name-Armie-Hammer%2Fdp%2FB0791VJLVB%2Fref%3Dsr_1_2%3Fs%3Dinstant-video%26ie%3DUTF8%26qid%3D1532455686%26sr%3D1-2%26keywords%3Dcall%2Bme%2Bby%2Byour%2Bname" rel="nofollow noopener" target="_blank">Amazon,</a> <a href="https://www.youtube.com/watch?v=48o3YYnEUQ4" target="_blank">YouTube</a>, and <a href="https://play.google.com/store/movies/details?id=48o3YYnEUQ4" target="_blank">Google Play</a>.
                                </p>
                                <h3 id="h6Biwc">
                                    6) <em>Personal Shopper</em>
                                </h3>
                                
                                <p id="pofJH9">
                                    In her second collaboration with French director <a href="http://www.imdb.com/name/nm0000801/?ref_=fn_al_nm_1" target="_blank">Olivier Assayas</a>, Kristen Stewart plays a personal shopper to a wealthy socialite, with a sideline as an amateur ghost hunter who’s searching for her dead twin brother. <em>Personal Shopper</em> is deeper than it seems at first blush, a meditation on grief and an exploration of “between” places — on the fringes of wealth, and in the space between life and death. Some souls are linked in a way that can’t be shaken, and whether or not there’s an afterlife doesn’t change the fact that we see and sense them everywhere. (<em>Personal Shopper</em> also has one of the most tense extended scenes involving text messaging ever seen onscreen.)
                                </p>
                                <p id="8hmlTU">
                                    Personal Shopper <em>is currently</em> <a href="https://www.showtime.com/#/movie/3436534" target="_blank"><em>streaming on Showtime</em></a> <em>and available to rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F871777" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>,</em> <a href="https://www.youtube.com/watch?v=-BgiO6uDH7I" target="_blank"><em>YouTube</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB072YWLGT2%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fmovie%2Fpersonal-shopper%2Fid1241184797" rel="nofollow noopener" target="_blank"><em>iTunes</em></a><em>, and</em> <a href="https://play.google.com/store/movies/details?id=-BgiO6uDH7I" target="_blank"><em>Google Play</em></a><em>.</em>
                                </p>
                                <h3 id="0RkMKy">
                                    5) <em>Princess Cyd</em>
                                </h3>
                                
                                <p id="2tSIHW">
                                    Stephen Cone is a master of small, carefully realized filmmaking; his earlier films such as <em>The Wise Kids</em> and <em>Henry Gamble’s Birthday Party</em> combine an unusual level of empathy for his characters with an unusual combination of interests: love, desire, sexual awakenings, and religion. <em>Princess Cyd</em> is his most accomplished film yet, about a young woman named Cyd (<a href="http://www.imdb.com/name/nm6570557/?ref_=tt_cl_t2" target="_blank">Jessie Pinnick</a>) who finds herself attracted to Katie (<a href="http://www.imdb.com/name/nm5154548/?ref_=tt_cl_t3" target="_blank">Malic White</a>), a barista, while visiting her Aunt Miranda (<a href="http://www.imdb.com/name/nm2050642/?ref_=tt_cl_t1" target="_blank">Rebecca Spence</a>, playing a character modeled on the author Marilynne Robinson) in Chicago. As she works through her own sexual awakening with Katie, Cyd unwinds some of the ways Miranda’s life has gotten too safe. They provoke each other while forming a bond and being prodded toward a bigger understanding of the world. It is a graceful and honest film, and it feels like a modest miracle.
                                </p>
                                <p id="HDD90m">
                                    Princess Cyd <em>is currently</em> <a href="https://www.netflix.com/watch/80201497?source=35" target="_blank"><em>streaming on Netflix</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=sy8otjxDw8w" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=sy8otjxDw8w" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="ADtiAV">
                                    4) <a href="https://www.vox.com/culture/2017/2/24/14698632/get-out-review-jordan-peele" target="_blank"><em>Get Out</em></a>
                                </h3>
                                
                                <p id="h1ighb">
                                    Racism is sinister, frightening, and deadly. But <a href="https://www.vox.com/culture/2017/2/24/14698632/get-out-review-jordan-peele" target="_blank"><em>Get Out</em></a> (a stunning directorial debut from <em>Key &amp; Peele</em>'s Jordan Peele) isn’t about the blatantly, obviously scary kind of racism — burning crosses and lynchings and snarling hate. Instead, it’s interested in showing how the parts of racism that try to be aggressively unscary are just as horrifying, and it’s interested in making us feel that horror in a visceral, bodily way. In the tradition of the best classic social thrillers, <em>Get Out</em> takes a topic that is often approached cerebrally — casual racism — and turns it into something you feel in your tummy. And it does it with a wicked sense of humor.
                                </p>
                                <p id="2ef6GU">
                                    Get Out <em>is currently streaming on</em> <a href="https://play.hbogo.com/feature/urn:hbo:feature:GWbhJDwNIacPCwgEAAAG5?camp=Search&amp;play=true" target="_blank"><em>HBO Go</em></a> <em>and</em> <a href="https://play.hbonow.com/feature/urn:hbo:feature:GWbhJDwNIacPCwgEAAAG5?camp=Search&amp;play=true" target="_blank"><em>HBO Now</em></a><em>, and is available to digitally rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fmovie%2Fget-out%2Fid1202441786" rel="nofollow noopener" target="_blank"><em>iTunes</em></a><em>,</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fvideo%2Fdetail%2FB06Y1H48K7%2Fref%3Datv_dl_rdr" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://play.google.com/store/movies/details?id=YfLSryEaAfw" target="_blank"><em>Google Play</em></a><em>,</em> <a href="https://www.youtube.com/watch?v=YfLSryEaAfw" target="_blank"><em>YouTube</em></a><em>, and</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.vudu.com%2Fcontent%2Fmovies%2F%23%21content%2F832496%2FGet-Out" rel="nofollow noopener" target="_blank"><em>Vudu</em></a><em>.</em>
                                </p>
                                <h3 id="TQbjNr">
                                    3) <em>The Work</em>
                                </h3>
                                
                                <p id="3Uotb3">
                                    <em>The Work</em> is an outstanding, astonishing accomplishment and a viewing experience that will leave you shaken (but in a good way). At Folsom Prison in California, incarcerated men regularly participate in group therapy, and each year other men from the “outside” apply to participate in an intense four-day period of group therapy alongside Folsom’s inmates. <em>The Work</em> spends almost all of its time inside the room where that therapy happens, observing the strong, visceral, and sometimes violent emotions the men feel as they expose the hurt and raw nerves that have shaped how they encounter the world. Watching is not always easy, but by letting us peek in, the film invites viewers to become part of the experience — as if we, too, are being asked to let go.
                                </p>
                                <p id="qjxiQW">
                                    The Work <em>is</em> <a href="https://www.topic.com/the-work" target="_blank"><em>streaming on Topic.com</em></a> <em>and available to digitally rent on</em> <a href="https://play.google.com/store/movies/details?id=iddt4sVZTvI" target="_blank"><em>Google Play</em></a> <em>and</em> <a href="https://www.youtube.com/watch?v=iddt4sVZTvI" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <h3 id="kUrRP6">
                                    2) <em>Ex Libris</em>
                                </h3>
                                
                                <p id="rGpjUU">
                                    Frederick Wiseman is one of the towering giants of nonfiction film, a keen observer of American institutions — ranging from prisons to dance companies to welfare offices — for the past half-century. <em>Ex Libris</em> is his mesmerizing look at the New York Public Library and the many functions it fills, which go far beyond housing books. Wiseman works in the observational mode, which means his films contain no captions, dates, or talking-head interviews: We just see what his camera captured, which in this case includes community meetings, benefit dinners, after-school programs, readings with authors and scholars (including Richard Dawkins and Ta-Nehisi Coates), and NYPL patrons going about their business in the library’s branches all over the city. The result is almost hypnotic and, perhaps surprisingly, deeply moving. It makes a case for having faith in the public institutions where ordinary people work — away from the limelight, without trying to score political points — in order to make our communities truly better.
                                </p>
                                <p id="40B8Wq">
                                    Ex Libris <em>will air on PBS in the fall and then be available to cardholders in many library systems across the country via</em> <a href="https://www.kanopy.com/" target="_blank"><em>Kanopy</em></a><em>.</em>
                                </p>
                                <h3 id="QJNuyl">
                                    1) <a href="https://www.vox.com/2017/11/2/16552860/lady-bird-review-saoirse-ronan-greta-gerwig" target="_blank"><em>Lady Bird</em></a>
                                </h3>
                                
                                <p id="z8uM1l">
                                    <em>Lady Bird</em> topped my list almost instantly, and only rose in my estimation on repeated viewings. For many who saw it (including me), it felt like a movie made not just for but <em>about</em> me. <em>Lady Bird</em> is a masterful, exquisite coming-of-age comedy starring the great Saoirse Ronan as Christine — or “Lady Bird,” as she’s re-christened herself — and it’s as funny, smart, and filled with yearning as its heroine. Writer-director Greta Gerwig made the film as an act of love, not just toward her hometown of Sacramento but also toward girlhood, and toward the feeling of always being on the outside of wherever real life is happening. <em>Lady Bird</em> is the rare movie that manages to be affectionate, entertaining, hilarious, witty, and confident. And one line from it struck me as the guiding principle of many of the year’s best films: “Don’t you think they are the same thing? Love, and attention?”
                                </p>
                                <p id="jqSCLV">
                                    Lady Bird <em>is currently streaming on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FLady-Bird-Saoirse-Ronan%2Fdp%2FB07734STRN%2Fref%3Dsr_1_3%3Fs%3Dinstant-video%26ie%3DUTF8%26qid%3D1532455686" rel="nofollow noopener" target="_blank"><em>Amazon Prime</em></a> <em>and available to digitally rent on</em> <a href="https://go.redirectingat.com/?id=66960X1516588&amp;xs=1&amp;url=https%3A%2F%2Fwww.amazon.com%2FLady-Bird-Saoirse-Ronan%2Fdp%2FB07734STRN%2Fref%3Dsr_1_3%3Fs%3Dinstant-video%26ie%3DUTF8%26qid%3D1532455686" rel="nofollow noopener" target="_blank"><em>Amazon</em></a><em>,</em> <a href="https://play.google.com/store/movies/details?id=yBIPcwJ03V4" target="_blank"><em>Google Play</em></a><em>, and</em> <a href="https://www.youtube.com/watch?v=yBIPcwJ03V4" target="_blank"><em>YouTube</em></a><em>.</em>
                                </p>
                                <p id="EVymKt">
                                    <strong>Honorable mentions:</strong> <em>Marjorie Prime</em>, <em>Phantom Thread</em>, <a href="https://www.vox.com/culture/2017/4/28/15437008/casting-jonbenet-kitty-green-interview-netflix" target="_blank"><em>Casting JonBenet</em></a>, <a href="https://www.vox.com/2017/12/6/16682926/the-post-review-spieberg-streep-hanks-pentagon-nixon" target="_blank"><em>The Post</em></a>, <a href="https://www.vox.com/culture/2017/9/12/16288080/shape-of-water-del-toro-review-tiff" target="_blank"><em>The Shape of Water</em></a>, <a href="https://www.vox.com/summer-movies/2017/8/17/16150634/logan-lucky-review-soderbergh-tatum-driver-craig" target="_blank"><em>Logan Lucky</em></a>, <a href="https://www.vox.com/culture/2017/9/14/16301552/i-tonya-harding-kerrigan-review-tiff" target="_blank"><em>I, Tonya</em></a>, <a href="https://www.vox.com/culture/2017/4/13/15243584/lost-city-of-z-review-james-gray-charlie-hunnam-robert-pattinson" target="_blank"><em>The Lost City of Z</em></a>, <em>Graduation</em>, <em>Spettacolo</em>, <em>Loveless</em>, <em>Restless Creature: Wendy Whelan</em>, <em>In Transit</em>, <a href="https://www.vox.com/culture/2017/6/29/15844952/reagan-show-review" target="_blank"><em>The Reagan Show</em></a>
                                </p>
                            </div></article>